* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--VeryLightGray);
}

:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  --VeryDarkBlue: hsl(234, 12%, 34%);
  --GrayishBlue: hsl(229, 6%, 66%);
  --VeryLightGray: hsl(0, 0%, 98%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.container h1 {
  font-size: 25px;
  font-weight: 200;
}

.container h2 {
  color: var(--VeryDarkBlue);
  font-size: 25px;
}

.container p {
  text-align: center;
  font-weight: 200;
  font-size: 15px;
}

.sec-container {
  display: grid;
  grid-template-columns: repeat(3/1fr);
  width: 70%;
  margin: auto;
  gap: 10px;
  padding-bottom: 50px;
  grid-template-areas:
    "a b c"
    "a b c"
    "a b c";
}

.sec-container div {
  border: 2px solid rgb(233 171 88);
  border-radius: 5px;
  background-color: rgb(233 171 88 / 50%);
  padding: 1em;
  color: #d9480f;
  height: 160px;
  width: 280px;
}



.box1 {
  grid-column: 1 / 1;
  grid-row: 1;
  grid-area: a;
}
.box2 {
  grid-column: 2 / 2;
  grid-row: 1;
}
.box3 {
  grid-column: 2;
  grid-row: 2;
}
.box4 {
  grid-column: 3;
  grid-row: 2;
}
